html, body {
	background-color: #ecf0f1;
}

#main {
	margin-left: auto;
	margin-right: auto;

	width: 800px;
}

#text_container {
	width: 100%;
}

.preview {
	background-color: white;
	height: 300px;
	font-size: 0;
}

.font.selected {
	background:#bbb;
}

#input_text, #axis {
	height: 60px;
	width: 100%;
	font-size: 0px;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 500;
}

#input_text {
	background-color: #34495e;
}

#input_text input {
	background: transparent;
	padding-left: 15px;
	outline: none;
	font-size: 30px;
	line-height: 30px;
	border: none;
	letter-spacing: 1px;
	color: white;
	width: 85%;
	height: 100%;
	vertical-align: middle;

	display: inline-block;
}
#input_text button {
	height: 100%;
	width: 15%;
	color: white;
	font-size: 30px;
	border: none;
	vertical-align: top;
	cursor: pointer;
	display: inline-block;
}

#axis button {
	height: 100%;
	width: 23.5%;
	margin-left: 2%;
	color: white;
	font-size: 30px;
	border: none;
	vertical-align: top;
	cursor: pointer;
	display: inline-block;
}
#axis button:first-child {
	margin-left: 0%;
}

button:focus, button:hover {
	outline: 0;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
}

#wave {
	background-color: #7492AF;
}
#wave.selected {
	background-color: #B9634C;
}

#spin {
	background-color: #849AAF;
}
#spin.selected {
	background-color: #E2857F;
}

#axis_x {
	background-color: #7492AF;
}
#axis_x.selected {
	background-color: #B9634C;
}

#axis_y {
	background-color: #849AAF;
}
#axis_y.selected {
	background-color: #E2857F;
}

#start {
	background-color: #11273d;
}
#input_text button:hover {
	background-color: #bdc3c7;
}
::-webkit-input-placeholder {
	color: white;
}
#top {
	height: 60px;
	width: 100%;
}
#header {
	height: 100%;
	vertical-align: top;
	position: relative;
	font-size: 0;
}

#header h1, #header a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 500;
	letter-spacing: 0.25em;
	color: white;
	margin-top: 0;
	margin-bottom: 0;

	font-size: 30px;
	line-height: 60px;
	background-color: #34495e;

	padding-left: 15px;
	padding-right: 15px;

	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
}

#header h1 {
	float: left;
}

#header a {
	float: right;
	height: 50%;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: normal;

	margin-left: 0;
	margin-right: 0;
}

.share {
	width: 300px;
	height:50px;
	background-color: #34495e;
	padding-top: 9px;
	text-align: center;
	display: inline-block;
	background-color: #11273d;
	margin-left: -2px;
}


#fonts, #colors, #top {
	font-size: 0;
	margin-top: 16px;
	margin-bottom: 16px;
}
.font {
	height: 150px;
	width: 15%;
	margin-left: 2%;
	background: white;
	display: inline-block;
	cursor: pointer;
}
.font:first-child {
	margin-left: 0%;
}

.text {
	height: 120px;
	line-height: 125px;
	font-size: 50px;
	text-align: center;
}

.text:hover {
	background-color: #7f8c8d;
}
.font_title {
	height: 30px; 
	background: #34495e;
	color: white;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size: 12pt;
}

#times {
	font-family: 'Times New Roman';
}

#arial {
	font-family: 'Arial';
}

#helvetica {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	text-decoration: none;
	margin-left: 4px;
	margin-right: 4px;
}

.form-group {
	 font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 height: 200px;
	 width: 32%;
	 margin-left: 2%;
	 display: inline-block;
	 position: relative;
}
.form-group:first-child {
	margin-left: 0;
}
.form-group label {
	width: 100%;
	height: 100%;
}
.form-group input {
	position: relative;
	z-index: 1;
}
.form-group input[type="text"] {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: white;
	font-size: 30px;
	width: 100%;
	display: block;
	height: 100%;
	outline: 0;
}
.form-group input[type="checkbox"] {
	float: right;
	outline: 0;
}
.minicolors {
	position: static;
}
.minicolors-theme-default .minicolors-swatch {
	border: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	cursor: pointer;
}
.minicolors-theme-default .minicolors-input {
	height: auto;
	padding-left: 0.25em;
}


#render {
	height: 60px;
	width: 100%;
	color: white;
	font-size: 30px;
	border: none;
	vertical-align: top;
	cursor: pointer;
	display: inline-block;
	background-color: #34495e;
	position: relative;
}
#render_text {
	opacity: 0.99;
}
#progress {
	width: 0%;
	height: 100%;
	background-color: #B9634C;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

#render:hover, .share:hover {
	background-color: #7f8c8d;
}

#gif {
	display: block;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: white;
}

#download {
	display: none;

	height: 60px;
	width: 100%;
	color: white;
	font-size: 30px;
	border: none;
	cursor: pointer;
	background-color: #34495e;

	text-align: center;
	vertical-align: middle;;
	line-height: 60px;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 500;

	margin-left: 0;
	margin-right: 0;

	margin-bottom: 16px;
}

@media (max-width: 800px) {
	#main {
		width: 600px;
	}

	.preview {
		height: 225px;
	}

	.form-group input[type="text"] {
		font-size: 24px;
	}
}

@media (max-width: 400px) {
	#main {
		width: 320px;
	}

	#colors {
		margin-bottom: 0;
	}

	.preview {
		height: 120px;
	}

	.text {
		height: 60px;
		font-size: 30px;
		line-height: 60px;
	}

	.font {
		height: 60px;
	}

	.font_title {
		display: none;
	}

	#input_text input {
		width: 70%;
		font-size: 24px;
	}

	.form-group {
		width: 100%;
		height: 60px;
		margin-left: 0;
		margin-bottom: 15px;
	}

	#input_text button {
		width: 30%;
		font-size: 24px;
	}

	#axis button {
		font-size: 24px;
	}
}